*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: base-font-size(10px);

  @include respond($tablet-landscape) {
    // width < 1200?
    font-size: 56.25%;
  }

  @include respond($tablet-portrait) {
    // width < 900?
    font-size: 50%; // 1 rem = 8px, 8/16 = 50%
  }

  @include respond($big-desktop) {
    font-size: 75%; // 1 rem = 12px,
  }
}

body {
  padding: 3rem;
  box-sizing: border-box;

  @include respond($tablet-portrait) {
    padding: 0;
  }
}
