h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.2;
}

.user-bio {
  text-align: center;
}

.user-form {
  width: 100%;
  min-width: 20rem;
  max-width: 30rem;
}
