.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  > div {
    margin: 0 1rem 2rem 1rem;
    text-align: center;
  }

  img {
    display: inline-block;
    max-width: 100%;
  }
}
