.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    position: relative;
    display: inline-block;
    list-style: none;
    margin: 0;
    border: 1px solid rgb(217 217 217);
    border-radius: 2px;
    padding: 6.5px 11px;
    width: 100%;
    height: 40px;
    min-width: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5715;
    color: rgb(0 0 0 / 85%);
    background-image: none;
    background-color: rgb(255 255 255);
    transition: all 0.3s;

    &::input-placeholder {
      color: var(--color-grey-dark-2);
    }

    &:focus {
      outline: none;
      border-bottom: 3px solid var(--color-primary);
      box-shadow: 0 1rem 2rem rgba(var(--color-white, 0.1));
    }

    &:focus:invalid {
      border-bottom: 3px solid var(--color-secondary-dark);
    }

    &:disabled {
      color: var(--color-grey-dark-1);
      background: #ccc;
    }
  }

  &__label {
    display: block;
    margin-top: 0.7rem;
    font-weight: 700;
    font-size: 1.2rem;
    transition: all 0.3s;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &__radio-input:checked + &__radio-label &__radio-button::after {
    opacity: 1;
  }
}
