:host {
  position: fixed;
  right: 10px;
  bottom: 0;
  z-index: 20;
  display: block;
  width: 300px;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.alert {
  position: relative;
  margin-bottom: 1rem;
  border: 1px solid #0000;
  border-radius: 0.25rem;
  padding: 1rem;

  &-success {
    border-color: #badbcc;
    color: #0f5132;
    background-color: #d1e7dd;
  }

  &-danger {
    border-color: #f5c2c7;
    color: #842029;
    background-color: #f8d7da;
  }
}

.btn-close {
  border: 0;
  border-radius: 0.25rem;
  padding: 0.25em;
  width: 1rem;
  height: 1rem;
  box-sizing: initial;
  font-size: inherit;
  color: #000;
  background:
    #0000
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
    50%/1em auto no-repeat;
  opacity: 0.5;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: #000;
    opacity: 0.75;
  }
}
